@keyframes fillTheBubble {
  0% {
    box-shadow: inset 2px 2px 10px #fca311;
    color: #fff;
  }
  10% {
    box-shadow: inset 12px 12px 10px #fca311;
  }
  25% {
    box-shadow: inset 12px 25px 10px #fca311;
  }
  50% {
    color: #fff;
  }
  100% {
    box-shadow: inset 25px 50px 10px #fca311;
    color: #000;
  }
}

@keyframes fillOutTheBubble {
  0% {
    box-shadow: inset 25px 50px 10px #fca311;
    color: #000;
  }
  10% {
    box-shadow: inset 12px 25px 10px #fca311;
  }
  25% {
    color: #000;
  }
  50% {
    box-shadow: inset 12px 12px 10px #fca311;
    color: #fff;
  }
  100% {
    box-shadow: inset 2px 2px 10px #fca311;
    color: #fff;
  }
}

@keyframes disapearPlanetSite {
  0% {
    opacity: 1;
    box-shadow: 2px 2px 10px #03289f, -1px -1px 2px #03289f;
  }
  50% {
    opacity: 0.5;
    box-shadow: 30px 20px 40px #0077b6, -30px 20px 40px #0077b6, 30px -20px 40px #0077b6, -30px -20px 40px #d5d5d5;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    box-shadow: 50px 40px 80px #ade8f4e9, -50px 40px 80px #ade8f4e9, 50px -40px 80px #ade8f4e9, -50px -40px 80px #d5d5d5;
  }
}

@keyframes appearPlanetSite {
  0% {
    opacity: 0;
    transform: scale(0.1);
    box-shadow: 50px 40px 80px #ade8f4e9, -50px 40px 80px #ade8f4e9, 50px -40px 80px #ade8f4e9, -50px -40px 80px #d5d5d5;
  }
  50% {
    box-shadow: 30px 20px 40px #0077b6, -30px 20px 40px #0077b6, 30px -20px 40px #0077b6, -30px -20px 40px #d5d5d5;
  }
  100% {
    opacity: 1;
    box-shadow: 2px 2px 10px #03289f, -1px -1px 2px #03289f;
  }
}

@keyframes appearInformation {
  0% {
    opacity: 0;
    transform: scale(0.1);
    box-shadow: 50px 40px 80px #e5e5e5, -50px 40px 80px #e5e5e5, 50px -40px 80px #e5e5e5, -50px -40px 80px #d5d5d5;
  }
  50% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 2px 2px 10px #e5e5e5, -1px -1px 2px #e5e5e5;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    box-shadow: 50px 40px 80px #e5e5e5, -50px 40px 80px #e5e5e5, 50px -40px 80px #e5e5e5, -50px -40px 80px #d5d5d5;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.1);
    box-shadow: 50px 40px 80px #e5e5e5, -50px 40px 80px #e5e5e5, 50px -40px 80px #e5e5e5, -50px -40px 80px #d5d5d5;
  }
  12.5% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.5;
    box-shadow: 30px 20px 40px #e5e5e5, -30px 20px 40px #e5e5e5, 30px -20px 40px #e5e5e5, -30px -20px 40px #d5d5d5;
  }
  75% {
    transform: scale(1.03);
    opacity: 0.75;
    box-shadow: 30px 20px 40px #e5e5e5, -30px 20px 40px #e5e5e5, 30px -20px 40px #e5e5e5, -30px -20px 40px #d5d5d5;
  }

  100% {
    opacity: 1;
    box-shadow: 2px 2px 10px #e5e5e5, -1px -1px 2px #e5e5e5;
  }
}

@keyframes disappear {
  0% {
    box-shadow: 2px 2px 10px #e5e5e5, -1px -1px 2px #e5e5e5;
  }
  10% {
    opacity: 1;
    transform: scale(1.03);
    box-shadow: 50px 40px 80px #e5e5e5, -50px 40px 80px #e5e5e5, 50px -40px 80px #e5e5e5, -50px -40px 80px #d5d5d5;
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
    box-shadow: 30px 20px 40px #e5e5e5, -30px 20px 40px #e5e5e5, 30px -20px 40px #e5e5e5, -30px -20px 40px #d5d5d5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    box-shadow: 50px 40px 80px #e5e5e5, -50px 40px 80px #e5e5e5, 50px -40px 80px #e5e5e5, -50px -40px 80px #d5d5d5;
  }
}
